<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/back_html.css">
    <title>calculadora De Pitágoras</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <h1 class="titulo">Atena</h1>
            <!-- <a class="cabecalho__menu__link">Calculadora De Pitágoras</a>    
            <a class="cabecalho__menu__link">Web Scraping</a>
            <a class="cabecalho__menu__link">API SQLAchemy</a> -->
        </nav>
    </header>
        <div class="fundo_formulario">
            <form method='post' action='/calculadora' class="formulario">
                <input type='number' min="0" step='0.01'  pattern="[0-9]*" class='form-control' name='cA' value="{{cA}}">
                <input type='number' min='0' step='0.01'  class='form-control' name='cO' value="{{cB}}">
                <input type='number' min='0' step='0.01'  class='form-control' name='hipotenusa' value="{{hipotenusa}}">
                <button name="action" value="calcular">Cacular</button>
            </form> 
        </div>
    <div class="resposta">
        {% if resposta %}
            <p>{{resposta}}</p>
        {% endif %}
    </div>
</body>
</html>