<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Pitágoras</title>
</head>
<body>
    <form>
        <header></header>
        <main class="apresentacao">
                <h1 class="apresentacao__conteudo__titulo">Se soubermos o tamanho de dois lados de um triângulo retângulo, <strong>podemos descobrir o outro lado!
                </strong></h1>
                <p>O Flask pode ser um boa opção até mesmo para aplicações de médio porte. Usando POO (paradigma de programação orientada a objeto) e a bliblioteca Blueprint para modularizar os endpoints do código, podemos ter uma aplicação de peso de forma organizada. </p>

                <!-- Tags Âncoras -->
                <a href="https://www.linkedin.com/in/mateus-brandeburski-001ba7202/">LinkdIn</a>
                <a href="https://github.com/MateusBrandeburski">GitHub</a>
                <img src="/static/image/Marrom e Creme Vintage Com Borda Medieval Convite.png" alt="Triângulo Retângulo">
        </main>

       <footer></footer>
    </form>
</body>
</html>