<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Calculadora de Pitágoras</title> 
</head>

<body>

    <div class='container' style="padding-top: 40px">

        <form id='calcular' method='post' action='/'>
            <h1>Calculadora de Pitágoras</h1>
            <hr>
            <br>
   
            <div class="col-sm-12">
                <button   type="submit" class="btn" name="action" value="adjacente">Calcular Cateto Adjacente</button>
            </div>

  
            <div class="col-sm-12">
                <button type="submit" class="btn" name="action" value="oposto">Calcular Cateto Oposto</button>
            </div>

            
            <div class="col-sm-12">
                <button type="submit" class="btn" name="action" value="hipotenusa">Calcular Hipotenusa</button>
            </div>
            <div class="col-sm-12">
                <button type="submit" class="btn" name="action" value="info" >Informações do Desenvolvedor</button>
            </div>

        </div>
    
        </form>
    </div>

</body>     
</html>