<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Sobre este Projeto</title>
</head>
<body>
        <header class="cabecalho">
            <nav class="cabecalho__menu">
                <a class="cabecalho__menu__link">Home</a>
                <a class="cabecalho__menu__link">Calculadora De Pitágoras</a>    
                <a class="cabecalho__menu__link">Web Scraping</a>
                <a class="cabecalho__menu__link">API SQLAchemy</a>
                <a class="cabecalho__menu__link">Sobre Mim</a>
            </nav>
        </header>
        <!-- elemento pai -->
        <main class="apresentacao">
            <!-- elemento filho primeiro grau -->
            <section class="apresentacao__conteudo">
                <!-- elemento filho segund grau -->
                <h1 class="apresentacao__conteudo__titulo">Plataforma de aplicações Mateus Brandeburski. <strong class="destaque-titulo"> Invista em quem conhece  back-end.
                </strong></h1>
                <p class="aprensentacao__conteudo__paragrafo">O <span class="destaque_span">Flask</span> pode ser um boa opção até mesmo para aplicações de médio porte. Usando <span class="destaque_span">POO</span>(paradigma de programação orientada a objeto) e a <span class="destaque_span">Blueprint</span> para modularizar os endpoints do código, podemos ter uma aplicação de peso de forma organizada. </p>
                <div class="apresentacao__links"> 
                <!-- Tags Âncoras -->
                    <a class="apresentacao__links__link"  target="_blank" href="https://www.linkedin.com/in/mateus-brandeburski-001ba7202/">LinkdIn</a>
                    <a class="apresentacao__links__link" target="_blank" href="https://github.com/MateusBrandeburski/Calculadora_de_Pitagoras">Código</a>
                </div>
            </section>
            <img class="foto_sobre_mim" src="/static/image/Foto para perfil simples com borda azul  (1).png" alt="meu logo">
            <!-- <audio src="{{ url_for('static', filename='audio/Medieval RPG Music - The Tavern (Original Composition) (128 kbps).mp3') }}" autoplay loop>
                 -->
            </audio>
        </main>
        <footer class="rodape">
            <p>Testando Footer</p>
        </footer>
</body>
</html>