<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- para visualizar no flask -->
    <link rel="stylesheet" href="/static/styles.css">
    <!-- para poder ver com uma extensão do vscode -->
    <link rel="stylesheet" href="/homolocacao/static/styles.css">
    <!-- para visualizar no flask -->
    <script defer src="/static/js/calculadora_de_pitagoras.js"></script>
    <!-- para poder ver com uma extensão do vscode -->
    <script defer src="/homolocacao/static/js/calculadora_de_pitagoras.js"></script>
    <title>Robo Limpa Email</title>
</head>
<body>
    <h1>Teste de mudança de rota usando uma Tag âncora e rederecinado para um blueprint de uma pasta diferente</h1>
    <form action="/limpa_email" method='post'>
        <button name='action' value="teste">Teste</button>
        {% if resposta %}
        <p class="resposta__final">{{resposta}}</p>
        {% endif %}
    </form>
</body>