{% extends 'template_generico.html' %}
{% block conteudo %}
    <main class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">Web Service</h1>
        <p class="lead">Este é um projeto que tem objetivo de mostrar conhecimentos back-end e fullstack. Por isso, o foco estão nas funcionalidades e no código por baixo da aplicação. Espero que tenha uma boa experiência >.<</p>
        <!-- <p>Back to <a href="/docs/5.3/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p> -->
      </div>
    </main>


{% endblock %}