{% extends 'template_generico.html' %}
{% block conteudo %}
<div class="container px-4 p-5 text-white">
    <div class="row gx-5">
        <div class="col text-center product-device d-none d-md-block">
            <h1 class="p-3">Desenvolvedor FullStack</h1>
            <img src="/static/image/eu.jpg" class="img-thumbnail" alt="foto currículo">
            <h2 class="p-3">Mateus Brandeburski</h2>
            <h5 class="">Contrate quem ama tecnologia e tem vontadade de fazer acontecer!</h5>
        </div>  
    </div>
</div>
<hr class="featurette-divider border-white border-2">
<div class="container px-4 p-5 text-white">
  <div class="row gx-5">
      <div class="col">
          <img src="/static/image/com001.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col text-end">
          <h1>Python</h1>
          <p><span style="background-color: #8597e4;">Com experiência sólida em desenvolvimento python</span>, possuímos conhecimento de diversas bibliotecas e frameworks para RPA/Web Scraping, tais como Beatifulsoup4, Srapy, Selenium, Requests.</p>
          <p>Como também, experiência em API Rest, tanto em aplicações puramente back-end quanto para aplicações com interface gráfica (tal como esse portifólio) que é um Web Service. Isso é ideal para contruir sistemas como Datahubs, Canva, Youtube e serviços web semelhantes.</p>
          <p>Além disso, experiência com Engenharia e Ciência de Dados em Python, tratando dados em dicíonarios e listas Json.<strong> Com mais de 3 anos em Desenvolvimento Python.</strong></p>
          <p>API's Assíncronas com FastAPI. Aplicações capazes de processar uma lista json com mais de 1 milhão de linhas no banco de dados com uma única requisição. Com um Token JWT para autenticação e autorização, é possível saber quem foi que enviou os dados no banco de dados relacionas. Acesso restrito para rotas com Token JWT de ADM e de não ADM.</p>
          <img src="/static/image/fastapi_50x50.jpg" class="img-thumbnail" alt="logo FastAPI">
          <img src="/static/image/flask_50x50.png" class="img-thumbnail" alt="logo Flask">
          <img src="/static/image/django_50x50.png" class="img-thumbnail" alt="logo Django">
          <img src="/static/image/Selenium_Logo_50x50.png" class="img-thumbnail" alt="logo Selenium">
          <img src="/static/image/scrapy_50x50.png" class="img-thumbnail" alt="logo Scrapy">
      </div>
  </div>
</div>
<hr class="featurette-divider border-white border-2">
<div class="container px-4 p-5 text-white">
    <div class="row gx-5">
        <div class="col text-start">
            <h1>DevOps</h1>
            <p>Experiência com Docker para rodar diversas aplicações. Aplicações em nuvem AWS, Render, Reywail e outras plataformas. Além de cnhecer e trabalhar com Linux em todas as minhas aplicações.</p>
            <p>Testes de integração continua, testes automatizados com Selenium. De ponta a ponta, desde o ambiente de desenvolvido até o ambiente de produção. Metodologia Ágil</p>
            <p>O versionamento de todo código desenvolvido na Trovale Tecnologia é feito por mim e armazenado no GitHub. Além de todos os Banco De Dados serem armazenados na nuvem, tanto externo como interno e todo controle de infraestrutura.</p>
            <p>Toda arquiteura dos ambientes de nuvem e controle da infraestrutura necessária para rodar as aplicações, tomando cuidado para não sobrar processamento e não faltar processamento é feito por mim.</p>
            <img src="/static/image/linux_50x50.png" class="img-thumbnail" alt="logo Linux">
            <img src="/static/image/docker_50x50.png" class="img-thumbnail" alt="logo Docker">
            <img src="/static/image/cloud_computing_50x50.jpg" class="img-thumbnail" alt="logo cloud Computing">
            <img src="/static/image/aws_50x50.png" class="img-thumbnail" alt="logo AWS">
        </div>
        <div class="col">
          <img src="/static/image/Devops1.jpeg" class="img-thumbnail" alt="logo DevOps">
      </div>
    </div>
</div>
<hr class="featurette-divider border-white border-2">
<div class="container px-4 p-5 text-white">
  <div class="row gx-5">
      <div class="col">
          <img src="/static/image/js_logo.png" class="img-thumbnail" alt="...">
      </div>
      <div class="col text-end">
          <h1>Java Script</h1>
          <p>Experiência com Criação de API Rest usando NodeJS, integração com banco de dados, animaçẽs de serviços web e criação de jogos web.</p>
          <img src="/static/image/node_50x50.png" class="img-thumbnail" alt="logo node">
      </div>
  </div>
</div>
<hr class="featurette-divider border-white border-2">
<div class="container px-4 p-5 text-white">
  <div class="row gx-5">
      <div class="col text-start">
          <h1>JAVA</h1>
          <p>Experiência com API Rest usando JAVA e Spring. Se preciso, posso codar em Java e desenvolver aplicações web e mobile usando a linguagem.</p>
          <img src="/static/image/spring-framework_50x50.png" class="img-thumbnail" alt="logo SpringBoot">
          <img src="/static/image/sparck_50x50.png" class="img-thumbnail" alt="logo Apache">
      </div>
      <div class="col text-end">
        <img src="/static/image/java_250x250.jpg" class="img-thumbnail" alt="LOGO JAVA">
    </div>
  </div>
</div>
{% endblock %}