{% extends 'template_generico.html' %}
{% block conteudo %}

<button type="button" class="btn btn-primary">Atualizar</button>

<h1>Web scraping - Beutifulsoup4</h1>
<h3>Últimas notícias científicas</h2>
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
            <th>Títulos das Noticias</th>
            <th>Link</th>
            <th>Fonte</th>
        </tr>
    </thead>
    <tbody>
        {% for scraping1_noticia in scraping1 %}
        <tr>
            <td>{{ scraping1_noticia }}</td>
            <td></td>
            <td>Space Today</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Fonte: https://spacetoday.com.br/</p>

<h3>Últimas notícias sobre animes</h3>
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
            <th>Títulos das Noticias</th>
            <th>Link</th>
            <th>Fonte</th>
        </tr>
    </thead>
    <tbody>
    {% for noticia, link in itens_scraping2 %}
        <tr>
            <td>{{ noticia }}</td>
            <td><a href="{{ link }}">Notícia</a></td>
            <td>ANMTV</td>
        </tr>
    {% endfor %} 
    </tbody>
</table>
<p>Fonte: https://anmtv.com.br/</p>

{% endblock %}