{% extends 'login/generica_login.html' %}
{% block conteudo %}
<!-- div meio -->
<div class="p-5">
<div class="container px-2">
  <div class="row gx-1 align-items-center justify-content-center">
    <div class="col-md-5">
    <!-- Mensagem Flash -->
    {% with messages = get_flashed_messages() %}
      {% if messages %} 
          <ul id="messages" class="list-unstyled">
          {% for message in messages %}
              {% if message %}
                 <li class="alert alert-danger"><p>{{ message }}</li>
              {% endif %}
           {% endfor %}
           </ul>
       {% endif %}
   {% endwith %}
   <!-- fim Mensagem Flash -->
      <h1 class="text-white mt-5">Cadastro</h1>
      <form action="/processa-cadastro" method="POST">
          <p class="text-white"><label>Usuário</label>
          <input type="text" class="form-control" pattern="[a-zA-Z0-9]+" minlength="5" maxlength="20" aria-label="Username" aria-describedby="basic-addon1" id="nickname" name="nickname" title="O usuário deve conter entre 5 a 10 caracteres e não pode haver espaço" required></p>

          <p class="text-white"><label>Senha</label>
          <input type="password" class="form-control" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+-=]).{8,}$" aria-describedby="basic-addon2" id="senha" name="senha" title="8 caracteres, contendo pelo menos um dígito, uma letra minúscula, uma letra maiúscula e um caractere especial" required></span>
          </p>

          <p class="text-white"><label>Confirmar senha</label>
          <input class="form-control" type="password" id="confirma_senha" name="confirma_senha" required>

          <p class="text-white"><label>Email</label>
          <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" id="email" name="email" required></p>


          <div class="col-xs-12 mt-2 text-end">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>

      </form>
      <div class="accordion mt-4" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Dica:
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show mt" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Você pode criar uma conta com e-mail fake, mas <strong>não consiguirá recuperar sua senha.</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- fim div meio -->
{% endblock %}