<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web service</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body class="bd-masthead mb-3" style="background-image: url(/static/image/gradiente_image.jpg); background-size: cover; background-repeat: repeat-y;">
<!-- Header -->
    <header class="">
        <div class="p-1 text-center bg-white shadow">
          <h1 class="mb-1 text-black">Web Service Hub ©</h1>
        </div>
      </header>
<!-- fim Header -->
{% if recuperar_senha == True %}

<div class="p-5">
  <div class="container px-2">
    <div class="row gx-1 align-items-center justify-content-center">
      <div class="col-md-5">
        <div class="alert alert-light" role="alert">
          <h4 class="alert-heading">Sucesso!</h4>
          <p>O login e senha foram enviados para o seu e-mail.</p>
          <hr>
          <p class="mb-0">Mateus Brandeburski Ramos © | Desenvolvedor Fullstack</p>
        </div>
        <a class="text-white btn btn-primary mt-3" href="{{url_for('login.index')}}">Voltar para tela de Login</a>
      </div>
    </div>
  </div>
</div>
<div class="p-5">
<div class="container px-2">
  <div class="row gx-1 align-items-center justify-content-center">
    <div class="col-md-5">
    <!-- Mensagem Flash -->

    {% with messages = get_flashed_messages() %}
      {% if messages %} 
          <ul id="messages" class="list-unstyled">
          {% for message in messages %}
              {% if message %}
                 <li class="alert alert-danger"><p>{{ message }}</li>
              {% endif %}
           {% endfor %}
           </ul>
       {% endif %}
   {% endwith %}
   <!-- fim Mensagem Flash -->

  {% elif recuperar_senha == False %}

  <div class="p-5">
    <div class="container px-2">
      <div class="row gx-1 align-items-center justify-content-center">
        <div class="col-md-5">
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Falha!</h4>
            <p>Email não encontrado na nossa base de dados.</p>
            <hr>
            <p class="mb-0">Mateus Brandeburski Ramos © | Desenvolvedor Fullstack</p>
          </div>
        <div class="text-center">
          <a class="text-white btn btn-primary mt-3 p-1" href="{{url_for('login.index')}}">Voltar para tela de Login</a>
          <a class="text-white btn btn-primary mt-3 p-1" href="{{url_for('recupera.index')}}">Tentar novamente</a>
        </div>
        </div>
      </div>
    </div>
  </div>

  {% else %}

    <div class="p-5">
      <div class="container px-2">
        <div class="row gx-1 align-items-center justify-content-center">
          <div class="col-md-5">
          <h1 class="text-white mt-5">Recuperar Senha</h1>
          <form action="/processa-recuperacao-senha" method="POST">
              <p class="text-white"><label>Digite seu email:</label>
                <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" id="email" name="email"></p>
              <div class="col-xs-12 mt-2">
                <button type="submit" class="btn btn-primary">Recuperar Senha</button>
              </div>
          </form>

    
          </div>
        </div>
      </div>
    </div>
   </div>

{% endif %}
</body>
</html>
