{% extends 'template_generico.html' %}
{% block conteudo %}

<div class="flex-shrink-0 text-start m-5 text-white">
  <div class="text-center">
      <h1 class="display-4 fw-bold p-3"> Sobre este projeto: Web Service</h1>
  </div>
    <p class="fs-5 p-3">Este é um projeto desenvolvido para demonstrar <span class="text-black" style="background-color: 
      #8597e4; background-size: 100px"> habiliades <strong class="fs-3 text-black">fullstack</strong> com ênfase no <strong class="fs-3">backend</strong>.</span> Por isso, não é feito para ter foco na aparência, mas sim no que o sistema pode fazer por baixo dos panos. 
    
    <p class="fs-5 p-3">No <strong class="text-black" style="background-color: #8597e4 ;">Web Scraping,</strong> é um exemplo simples, mas <strong class="text-black" style="background-color: #8597e4 ;">pode ser expansível para minerar quaisquer dados na web</strong>, sem necessidade de escrever todo código novamente, pois existe uma classe para isso.</p>
    <p class="fs-5 p-3"> Já no <strong class="text-black" style="background-color: #8597e4 ;">Crud</strong>, também é um exemplo de como persistir dados em um <strong class="text-black" style="background-color: #8597e4 ;">Data Base na nuvem e imprimi-los na mesma página HTML dinâmicamente e rapidamente.</strong></p>
    <p class="fs-5 p-3">Nas caluladoras, temos diversos desafios computacionas com <strong class="text-black" style="background-color: #8597e4  ;">tratamentos de erros ao calcular o Teorema de Pitágoras.</strong></p>
    <p class="fs-5 p-3">Foi possível extrair essa velociade em um<strong class="text-black" style="background-color: #8597e4  ;"> Web Service que está on-line em uma nuvem Free,</strong> que é limitada em velociade. <strong class="text-black" style="background-color: #8597e4  ;">Se fosse feito o deploy desta aplicação em um nuvem paga, seria ainda mais rápida.</strong></p>
</div>

<!-- cards -->   
<div class="card-group m-5">
  <div class="card">
    <img src="/static/image/Captura de tela de 2023-04-11 11-34-46.png" class="card-img-top" alt="blueprins e modularização">
    <div class="card-body">
      <h5 class="card-title">Modularização</h5>
      <p class="card-text">Código todo modularizado, o que o torna escalável, expansível e fácil de entender. </p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary"><a target="_blank" class="link-offset-2 link-underline link-underline-opacity-100 gap-5" href="https://github.com/MateusBrandeburski/Sistema-Mateus">Acesse o repositório deste projeto aqui!</a></small>
    </div>
  </div>
  <div class="card">
    <img src="/static/image/22.png" class="card-img-top" alt="herença de html">
    <div class="card-body">
      <h5 class="card-title">Herença em HTML</h5>
      <p class="card-text">Usando Jinja 2 é possível herdar partes de código HTML que se repete.</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary"><a  target="_blank" class="link-offset-2 link-underline link-underline-opacity-100 gap-5" href="https://github.com/MateusBrandeburski/Sistema-Mateus">Acesse o repositório deste projeto aqui!</a></small>
    </div>
  </div>
  <div class="card">
    <img src="/static/image/Captura de tela de 2023-04-11 11-55-44.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Todas as rotas são POO</h5>
      <p class="card-text">Neste exemplo temos a rota do Web Scraping. Quando quisermos mudar em quais sites ele minera os dados, basta mudar os parâmetros, sem  necessidade de escrever todo Scraping novamente.</p>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary"><a target="_blank" class="link-offset-2 link-underline link-underline-opacity-100 gap-5" href="https://github.com/MateusBrandeburski/Sistema-Mateus">Acesse o repositório deste projeto aqui!</a></small>
    </div>
  </div>
</div>
<!-- sobre o projeto -->
<div class="flex-shrink-0 text-start m-5 text-white">
  <div class="text-start">
    <h1 class="display-6">Informações Técnicas:</h1>
  </div>
    <tr>
      <th>Foi usado <strong class="text-black" style="background-color: #8597e4 ;">Flask</strong> para o back-end e <strong class="text-black" style="background-color: #8597e4 ;">BootStrap</strong> no front-end.</th>
      <th>Na rota Web Scraping foi usado <span class="badge bg-primary">Beautifulsoup4</span> para minerar os dados e na rota <span class="badge bg-primary">SQLAchemy</span> foi usado ele mesmo como ORM.</th>
    </tr>
</div>
<!-- fim sobre o projeto -->
{% endblock %}