{% extends 'template_generico.html' %}
{% block conteudo %}

<!-- titulo -->
<div class="titulo p-3" style="max-width: 100%; height: auto;">  
    <h1 class="text-center mx-auto p-4 text-white">Calculadora de pitágoras</h1>
</div>
<!-- fim titulo -->
<!-- responsividade -->
<div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-md-5">
            <!-- Card da Calculadora -->
            <div class="card border-primary mb-3 text-center">
                <div class="card-header">Calculadora de Pitágoras</div>
                <div class="card-body text-center align-center">
                        <div class="container text-center align-center">
                        <form method='POST' action='/pitagoras'>
                            <div class="row g-5 g-lg-5">
                                <div class="col p-2">
                                    <input type='number' min="0" step='0.01' placeholder="CatetoA"  class='form-control form-control-sm text-center' id="cA" name='cA'>
                                </div>
                                <div class="col p-2">
                                    <input type='number' min="0" step='0.01' placeholder="CatetoB" class='form-control form-control-sm text-center' id="zoposto" name='oposto'>
                                </div>
                            </div>   
                            <div class="g-5 g-lg-6">
                                <div class="col p-2">
                                    <input type='number' min="0" step='0.01' placeholder="Hipotenusa"  class='form-control form-control-sm text-center' id="hipotenusa" name='hipotenusa'>
                                </div>
                                <div class="col p-2">{{ resposta }} 
                                </div>
                            </div>
                            <div class="mx-auto p-2">
                                <button class="btn btn-primary" name="hipotenusa" value="submit_hipotenusa">Calcular</button>
                            </div> 
                        </div>
                    </div>
                </form>
            </div>
            <!-- fim card da calculadora -->
        </div>
    </div>
</div>
<!-- fim resposividade -->

<!-- inicio Mensagem de logado ou não logado -->
{% with messages = get_flashed_messages() %}
    {% if messages %} 
        <ul id="messages" class="list-unstyled">
        {% for message in messages %}
            {% if message %}
            <li class="alert alert-danger text-center">{{ message }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}
