<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- para visualizar no flask -->
    <link rel="stylesheet" href="/static/styles.css">
    <!-- para poder ver com uma extensão do vscode -->
    <link rel="stylesheet" href="/homolocacao/static/styles.css">
    <!-- para visualizar no flask -->
    <script defer src="/static/js/calculadora_de_pitagoras.js"></script>
    <!-- para poder ver com uma extensão do vscode -->
    <script defer src="/homolocacao/static/js/calculadora_de_pitagoras.js"></script>
    <title>Cyber Calculadora De Pitágoras</title>
</head>
<body>
    <!-- Cabeçalho -->
    <header class="cabecalho">  <!-- links âncoras para navegar na tela -->
        <nav class="cabecalho__menu">
            <a class="cabecalho__menu__link">RPA<span aria-hidden class="cabecalho__menu__link__glitch">RPA</span></a>
            <a class="cabecalho__menu__link" href="">Limpa Email<span aria-hidden class="cabecalho__menu__link__glitch">Limpa Email</span></a>
            <a class="cabecalho__menu__link">SQLAlquemy<span aria-hidden class="cabecalho__menu__link__glitch">SQLAlquemy</span></a>
            <a class="cabecalho__menu__link">Calculadora<span aria-hidden class="cabecalho__menu__link__glitch">Calculadora</span></a>
            <a class="cabecalho__menu__link">Machine Learning<span aria-hidden class="cabecalho__menu__link__glitch">Machine Learning</span></a>
            <a class="cabecalho__menu__link">Sobre<span aria-hidden class="cabecalho__menu__link__glitch">Sobre</span></a>
        </nav>
    </header>
    <div class="linha_grafica_do_titulo"></div>
    <div class="titulo" style="max-width: 100%; height: auto;">
        <img src="/static/image/Logos - Projetos.png" alt="">
    </div>
    <div class="fundo_formulario">
        <form method='post' action='/calculadora' class="formulario">
            <div class="inputs">
                <input type='number' min="0" step='0.01' placeholder="Cateto"  class='form-control' name='cA' value="{{cA}}">
                <p class="inputs__sinais"> + </p>
                <input type='number' min='0' step='0.01' placeholder="Cateto" class='form-control' name='cO' value="{{cB}}">
                <p class="inputs__sinais"> = </p>
                <input type='number' min='0' step='0.01' placeholder="Hipotenusa" class='form-control' name='hipotenusa' value="{{hipotenusa}}">
            </div>
            <!--  botao calcular cyberpink -->
            <div class="botao_calcular">
                <button class="cybr-btn" name="action" value="calcular">Calcular
                    <span aria-hidden></span>
                    <!-- palavra que aparece como animação -->
                    <span aria-hidden class="cybr-btn__glitch">Hacker</span>
                    <span aria-hidden class="cybr-btn__tag">2.0</span>
                </button>
            </div>
        </form> 
    </div>
    <!-- Resposta dinâmica pelo jinja2 do flask -->
    <div class="resposta">
        {% if resposta %}
            <p class="resposta__final">{{resposta}}</p>
        {% endif %}
    </div>
    <!--  Botão que abre as informações -->
    <div class="informacoes__botao">
        <a id="show-or-hide"><img class="informacoes__botao__imagem"src="/static/image/button_info.gif" alt=""></a>
    </div>
    <!-- Informções sobre a calculadora -->
    <div class="explicacao">
        <ul>
            <li class="explicacao__list">Você pode testar a calculadora usando um triângulo retângulo já pronto como exemplo: <strong>Ca(4) + Ca(3) = h(5).</strong></li>
            <h3>Para encontrar o valor de um dos catetos:</h3>
            <li class="explicacao__list">Se a <strong>hipotenusa e o cateto tiverem valores iguais, o resultado é impossível</strong>. Pois não é um triângulo retângulo e sua soma pelo teorema resulta em 0 (zero).</li>
            <li class="explicacao__list">Se o <strong>cateto for maior que a hipotenusa, o resultado também é impossível</strong>. Porque em um triângulo retângulo, a hipotenusa é o lado maior. </li>
            <li class="explicacao__list">Se <strong>nenhum dado for passado</strong>, ou apenas um lado, ou ainda todos os lados, um aviso aparecerá.</li>
        </ul>      
    </div>
</body>
</html>


