@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

body {
    /* height: 100vh;  utiliza o tamanho todo da tela (vh = view port higth, 100% da tela. */
     box-sizing: border-box; /* faz com que o elemento filho não saia do elemento pai */
     background-color: #000000; /*Cor de fundo da página*/
     color: white; /* cor do texto */
 }

.titulo {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    margin-top: 4%;
}


.fundo_formulario {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    margin-top: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;

}

input {
    margin-bottom: 2%;
    appearance: none;
    width: 300px;
    height: 30px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;  
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}


.resposta {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    /* background-color: blueviolet; */
    width: 50%;
    margin-left: 25%; 
}


.rodape {
    color: rgb(253, 253, 253);
    background-color: #A785F5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    bottom: 0;
    width: 99.3%;
    position: absolute;
}

