.btn {
    width: 100%;
    text-align: center;
}

button {
    background-color: #2D5966;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #2D5966;
    align-items: center;
    border-radius: 10px;
    padding-top: 200px;
}

.btn:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
  }

@media (min-width: 768px) {
    .btn {
      padding: 16px 44px;
      min-width: 150px;
    }
  }


/* div dos inputs */
.form-group-row {
    position: relative;
    margin: 30px 0;
}

/* input */
.form-control {
    width: 100%;
    border: 0;
    border-bottom: 2px solid black;
    padding: 5px;
    font-size: 17px;


}

.form-control[type=number]::-webkit-inner-spin-button,
.form-control[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Ação é aplicada quando o usuário interage com a caixa input*/
form .form-group-row .form-control:focus ~ label {
    transform: translateY(-20px);
    font-size: 12px;
}



body {
    background-image: url(chamada-chuva-de-meteoros-eta-aquaridas.gif);
    /* background-color: black; */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;

} 


.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 200px"

}

.div_voltar {
    margin: 0 auto;
}


form {
    background-color: #fff;
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 20px;
}

.respostas {
 
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.infomacao {
    background-color: #2D5966;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    
}

.link {
    color: #ffffff;
    font-family: sans-serif;

}