<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- para visualizar no flask -->
    <link rel="stylesheet" href="/static/styles.css">
    <!-- para poder ver com uma extensão do vscode -->
    <link rel="stylesheet" href="/homolocacao/static/styles.css">
    <!-- para visualizar no flask -->
    <script defer src="/static/js/calculadora_de_pitagoras.js"></script>
    <!-- para poder ver com uma extensão do vscode -->
    <script defer src="/homolocacao/static/js/calculadora_de_pitagoras.js"></script>
    <title>Robo Limpa Email</title>
</head>
<body>
    <!-- Cabeçalho -->
    <header class="cabecalho">  
        <nav class="cabecalho__menu">
            <!-- links âncoras para navegar na tela -->
            <a class="cabecalho__menu__link">RPA
                <span aria-hidden class="cabecalho__menu__link__glitch">RPA
                </span>
            </a>
            <a class="cabecalho__menu__link" href="">Limpa Email
                <span aria-hidden class="cabecalho__menu__link__glitch">Limpa Email
                </span>
            </a>
            <a class="cabecalho__menu__link" >SQLAlquemy
                <span aria-hidden class="cabecalho__menu__link__glitch">SQLAlquemy
                </span>
            </a>
            <a class="cabecalho__menu__link" href="{{url_for('calculadora_grafica.index')}}">Calculadora
                <span aria-hidden class="cabecalho__menu__link__glitch">Calculadora
                </span>
            </a>
            <a class="cabecalho__menu__link">Machine Learning
                <span aria-hidden class="cabecalho__menu__link__glitch">Machine Learning
                </span>
            </a>
            <a class="cabecalho__menu__link">Sobre
                <span aria-hidden class="cabecalho__menu__link__glitch">Sobre
                </span>
            </a>
        </nav>
    </header>
    <div class="linha_grafica_do_titulo"></div>
    <form action="/limpa_email" method='post'>
        <button name='action' value="teste">Teste</button>
        {% if resposta %}
        <p class="resposta__final">{{resposta}}</p>
        {% endif %}
    </form>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Editora</th>
                <th>Ano</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
            <tr>
                
                <td>{{ livro.nome }}</td>
                <td>{{ livro.editora }}</td>
                <td>{{ livro.ano }}</td>
               
            </tr>
            {% endfor %}
        </tbody>

         

    </table>

</body>