{% extends 'template_generico.html' %}
{% block conteudo %}
<div class="titulo" style="max-width: 100%; height: auto;">
    <h1>Regra de  Simples</h1>
</div>
<main class="text-center vsc-initialized">
    <div class="container-fluid">
        <form method='post' action='/calculadora' class="formulario">
            <div class="d-grid gap-2 col-6 mx-auto ">
                <div class="row g-0 align-items-center">
                    <input type='number' min="0" step='0.01' placeholder="A"  class='form-control col' name='cA' value="{{cA}}">
                    <label class="col">Está para</label>
                    <input type='number' min='0' step='0.01' placeholder="B" class='form-control col' name='cO' value="{{cB}}">
                </div>
                <div class="row g-0 align-items-center">
                    <input type='number' min="0" step='0.01' placeholder="C"  class='form-control col' name='cA' value="{{cA}}">
                    <label class="col">Assim como</label>
                    <input type='number' min='0' step='0.01' placeholder="X" class='form-control col' name='cO' value="{{cB}}">
                </div>
            </div>
                <h1></h1>
            <div class="">
                <button class="btn btn-primary">Calcular</button>
            </div>
        </form> 
    </div>
</main>

{% endblock %}